body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.content h1{
  text-shadow: 3px 3px 3px rgba(120, 135, 123, 0.697);
}
.content h2{
  text-shadow: 3px 3px 3px rgba(120, 135, 123, 0.697);
}

.home a {
  font-size: xx-large;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  
}

.home {
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  
}

.navigation_bar {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-right: 30px;
  font-size:large;
  
}

.page {
  margin: 0 60px; 
}

.navigation_bar nav a:hover{
  color: #000000;
}

a {
  color: rgba(2, 36, 7, 0.697);
  text-decoration: none;
}



.content {
  display: flex;
  align-items: center;
  height: 50vh; 
}

.text {
  margin-left: 150px;
  margin-right: 10px;
  font-size: xxx-large;
  margin-top: 150px;
  white-space: nowrap;
  color: rgba(2, 36, 7, 0.941);
}

.text h2{
  color: rgba(2, 36, 7, 0.697);
  line-height: 0%;

}

.image {
  margin-left: 200px; 
  margin-top: 400px;
  margin-right: 100px;

}


.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  
}


.icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 200px;
  position: absolute;
  left: -60px;
  top: 600px;
}

.linked img{
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 12px;
  background-color: white;
}

.linked {
  margin: 10px;
}


.github img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 12px;
  background-color: white;
}

.github {
  margin: 10px;
  margin-left: 20px;
}

.mail img{
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 12px;
  background-color: white;
}

.mail {
  margin: 10px;
  margin-left: 20px;
}

.facebook img{
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 12px;
  background-color: white;
}

.facebook {
  margin: 10px;
  margin-left: 25px;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(2, 36, 7, 0.941);
}

.experience {
  margin-bottom: 100px;
  color: rgba(2, 36, 7, 0.941);
}

.company {
  font-weight: bold;
  font-size: xx-large;
  color: rgba(2, 36, 7, 0.941);
}

.blurb li{
  margin-top: 10px;
  color: rgba(2, 36, 7, 0.941);
  line-height: 200%
}

.blurb{
  line-height: 200%
}

.banner p{padding-left: 50pt; padding-right: 50pt;}

.jobs{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 200px;
  position: absolute;
  top: 500px; 
  left: 150px;
}

.titlepage{
  margin-left: 150px;
  margin-top: 100px;
  font-size: x-large;
  color: rgba(2, 36, 7, 0.941);
}

.box {
  text-align: center;
  margin: 100px;
  background-color: rgba(189, 232, 195, 0.697);
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;

}

.box img {
  width: 250px; 
  height: 250px;
}

.title {
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(2, 36, 7, 0.941);
  font-weight: bolder;
}

.description {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(2, 36, 7, 0.941);
  line-height: 200%;
}

.project-flex{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.category {
  margin: 50px;
  width: 50px;
  text-align: center;
}





.containerT {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgba(2, 36, 7, 0.941);
  position: absolute;
  top: 200px; 
  left: 700px;

}

.buttonlink{
  background-color: rgba(2, 36, 7, 0.697);
  width: 245px;

  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  font-size: 20px;
  position: absolute;
  position: absolute;
  left: 150px;
  top: 700px;

}

.buttonlink a{
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.contentabout{
  display: flex;
  flex-direction: row;
}
.rheaimage{
  display: flex;
  flex-direction: row;
}

.contflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.rheaimage img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 200px;
  top: 300px;
}
